# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# -------------------------
# IVI_QA_Framework
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# IDEs / Editors
# -------------------------
.vscode/
.idea/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs / temp
# -------------------------
*.log
*.tmp
